.idea
*.gem
test/5entry_copy.zip
test/cdirtest.bin
test/cdir64test.bin
test/huge.zip
test/centralEntryHeader.bin
test/data/generated/
test/deflatertest.bin
test/compressiontest_*.bin
test/dummy.txt
test/localEntryHeader.bin
test/okToDeleteMoved.txt
test/output.zip
test/test_putOnClosedStream.zip
test/zipWithDirs_copy.zip
test/coverage
.bundle
Gemfile.lock
+samples/*.zip
+samples/*.zip.*
coverage
