.idea
*.gem
.bundle
Gemfile.lock
+samples/*.zip
+samples/*.zip.*
samples/zipdialogui.rb
coverage
doc/zip/APPNOTE.TXT
doc/zip/appnote_iz.txt
doc/zip/winzip_aes.md
html/
pkg/
.ruby-gemset
.ruby-version
